*,
::after,
::before {
  box-sizing: border-box;
}

:root {
    /* colors */
    --primary-100: #fec260;
    --primary-300: #a12568;
    --primary-500: #3b185f;
    --primary-700: #2a0944;
  
    /* alternates */
    --alt-50: #ffb5b5;
    --alt-100: #ff7272;
    --alt-200: #9b0000;
    --alt-300: #000b49;
    
    /* rest of the colors */
    --red-light: #ff0000;
    --red-med: #950101;
    --red-dark: #3d0000;
    --black: #000000;
    
}

.hero{
    height: 100vh;
    background: var(--primary-700);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em 0 2em;

}

h1{
    color: var(--primary-100);
    font-size: 3rem;
}

/* Hero section items */
.hero-pic-container{
    background: var(--primary-300);
}

.hero-head{
    padding: 0 1em .5em 1em;
}

.hero-txt{
    color: var(--alt-50);
    padding: 0 6em 0 5em;
    border: solid 2px var(--primary-100);
}

.title-cont{
    padding-top: 10em;
}

.hero-btn{
    background: var(--primary-300);
    border: none;
    color: white;
    padding: .5em 1em .5em 1em;
}

/* about section */
.abt-head{
    color: var(--primary-700);
    padding-top: 2em;
}

.abt-pic{
    background: var(--primary-100);
}
